{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{% set search = document.search %}

<form id="{{ main_form_id }}" action="{{ generate_url('admin.tokens.tokens') }}" method="post" >
    <div class="custom-search">
        <div class="col-sm-2">
            <b>Token Code</b><br>
            {{ forms.input(' search.token', 'text', search.token) }}
        </div>
        <div class="col-sm-1">
            <b>Used By</b><br>
            {{ forms.input(' search.from', 'text', search.from) }}
        </div>
        <div class="col-sm-1">
            <b>Is Used</b><br>
            {{ forms.input(' search.used', 'select', search.used, null, null, null, null, null, usedinput  ) }}
        </div>
        <div class="col-sm-3">
            <b>Used Date Range</b><br>
            {{ forms.input(' search.date_used.start', 'datetime', search.date_used.start ) }}
            {{ forms.input(' search.date_used.end', 'datetime', search.date_used.end ) }}
        </div>
        <div class="col-sm-3">
            <b>Created Date Range</b><br>
            {{ forms.input(' search.date_created.start', 'datetime', search.date_created.start ) }}
            {{ forms.input(' search.date_created.end', 'datetime', search.date_created.end ) }}
        </div>
        <div class="col-sm-2">
            <b></b><br>
            <button class="btn btn-success btn-sm" type="submit" name="submit">Search</button>
            <button class="btn btn-default btn-sm" type="submit" name="clear" value="clear">Clear</button>
        </div>
    </div>
        
    {{ forms.input('_token' ) }} 

</form>


<div class="clearfix"></div>
<br>

<style>
    .custom-search .col-sm-1, .custom-search .col-sm-2, .custom-search .col-sm-3, .custom-search .col-sm-9, .custom-search .col-sm-12{
        margin:0;
        padding:0 2px;
    }

    .search_date_used_start{
        width: 49% !important;
        float: left;
    }

    .search_date_used_end{
        width: 49% !important;
        float: right;
    }

    .search_date_created_start{
        width: 49% !important;
        float: left;
    }

    .search_date_created_end{
        width: 49% !important;
        float: right;
    }
</style>